
body {
    background-color: whitesmoke;
}

main {
    background-color: whitesmoke;
}

.celular-data {
    margin-top: 50px;
    display: flex;

}

.container-promoção-produtos {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;

}

.produto-selected {
    width: 30%;
    max-width: 210px;
    min-width: 186px;
}

.filtro {
    background-color: white;
    width: 20%;
    min-width: 160px;
    height: 1378px;
    padding-left: 20px;
    border-radius: 5px;
    
}

.text-body-filter {
    color: rgb(53, 52, 52);
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
    margin-left: 4%;
}

.title-filter {
    color: orange;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;

}

.label-from {
    font-size: 13px;
    margin-top: 3px;
    margin-left: 5px;
    
    
}

.filter-ul {
    border-bottom: solid;
    border-color: rgb(53, 52, 52);
    border-width: 2px;
    margin-right: 15px;
    padding-bottom: 20px;
    
}

.filter-li {
    display: flex;
    margin-top: 12px;
    padding-bottom: 7px;
    margin-left: 10px;
}

.banner-iphone12 {
    display:none;
    
    
}

.banner-iphone12 {
    box-shadow: 0px 2px 21px -13px #000000; 
}






@media screen and (max-width: 600px) {
   
    .nav-item {
        left: auto;
        right: 22%;
        bottom: 5px;
        
    }
    .icone-buscador {
        left: 150px;
        bottom: 39px;
        min-width: 35px;
        width: 21%;
    }

    
    .celular-data {
        margin-top: 500px;
    }

    .filtro {
        left: 0;
        display: flex;
        flex-direction: column;
        width: 96%;
        padding-left: 0%;
        height: auto;
        margin: 0 2%;
        top: 540px;
        
    }

    .text-body-filter {
        text-align: center;
    }

    .filter-form {
        display: flex;
        flex-direction: row;
    }

    .filter-ul {
        border: none;
        margin-right: 12px;
        min-width: 80px;
        text-align: center;
    }

    .title-filter {
        text-align: center;
        font-size: 12px;

    }

    .banner-iphone12 {
        display: none;
    }

    .label-from {
        font-size: 12px;
        margin-left: 5px;
        margin-top: 1px;

    }
    .label-from svg {
        width: 10px;
        
    }

    .container-promoção-produtos {
        margin-bottom: 0;
        margin-left: 2%;
    }
}

@media screen and (max-width: 368px){

    
    .filter-ul {
        margin-right: 1px;
    }
    
    .filter-li {
        margin-left: 5px;
        
    }

    .label-from {
        font-size: 9px;
    }

}
