@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin', sans-serif;
}

.icone-buscador {
    top: auto;
    bottom: 2px;
}


main {
    height: 550px;
}
.main-banner {
    display: none;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    margin-top: 150px;

}

li{
    display: inline;
}

.news-letters {
    margin-bottom: 0;
}

h3 {
    font-size: 1.3rem;
}




