@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');


* {
    box-sizing: border-box;
}

body {
    font-family: 'Cabin', sans-serif;
    background-color: white;
    margin-bottom: 0;

}

/* HEADER */

header {
    overflow-x: hidden;
    font-family: 'Cabin', sans-serif;

}

.first-content {
    max-height: 130px;
    background-color: rgb(0, 104, 240);
    display: flex;
    align-items: center;

}



.img-link-header {
    width: 30%;
}

.logo-mz {
    position: relative;
    left: 60%;
    width: 30%;
    top: 5px;

}

.container-buscador {
    
    width: 35%;
    margin-left: 8%;
    margin-top: 23px;
    

}

.buscador {
    width: 78%;
    height: 34px;
    margin-bottom: 5px;
    border-radius: 10px;
    padding-left: 5px;
    border: none;
    outline: 0;
    
    
}

.icone-buscador {
    width: 35.9px;
    position: relative;
    top: 12.5px;
    right: 38.7px;
    border-radius: 10px;
    
}

.icone-buscador:active {
    background-color: orangered;
    
}

.Login {
    position: relative;
    left: 4%;
    top: 30px;
    width: 35%;
    
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: black;
}

.banner-login {
    position: relative;
    width: 29px;
    height: 29px;
    right: 32px;
    top: 30px;
    border-radius: 90%;
    border: solid;
    border-color: grey;
    padding: 1px;

}

.body-text {
    color: white;
    font-size: 15px;
    margin-left: 20px;

}

.banner-carrinho {
    width: 24px;
    position: relative;
    left: 35%;
    bottom: 28px;

}

.body-text2 {
    color: white;
    font-size: 15px;
    position: relative;
    left: 40%;
    bottom: 55px;
 
}

.hiper-link {
    color: white;
    text-decoration: none;
    font-family: 'Cabin', sans-serif;
    
}

.hiper-link:hover {
    text-decoration: underline;
    
}

.hiper-link-banner1 {
    margin-bottom: 20px;
}

.bg-light {
    background-color: rgb(53, 52, 52);
} 

.menu-header {
    display: flex;
    margin-left: 500px;
    padding: 13px;
    
}
    
.menu-li {
    margin-left: 80px;
    color: white;
    font-size: 20px;
    font-family: 'Cabin', sans-serif;

}

.menu-li:hover {
    text-decoration: underline;
    
}

.second-content {
    max-height: 322px;
    overflow: hidden;
}

.main-banner {
    width: auto;
    margin: 0 18%;
}
    


/* MAIN */


main {
    max-width: 1223px;
    height: auto;
    background-color: white;
    font-family: 'Cabin', sans-serif;
    margin-left: 18%;
    margin-right: 17.7%;
    margin-bottom: 110px;
    overflow: hidden;

}

.tech-promoção {
    background-color: rgb(53, 52, 52);
    color: white;
    padding: 20px;
    padding-left: 55px;
    font-size: 22px;
    margin: -4px 0 0 0;
    text-transform: uppercase;
    width: 100%;
    
}

.tech-promoção:hover {
    text-decoration: underline;

}

.first-container {
    background-color: whitesmoke;
    padding-top: 35px;
    height: 620px;
    
}

.container-promoção-produtos {

    display: flex;
    margin-bottom: 30px;
    flex-wrap: wrap;
    

}

.produto-selected {
    width: 210px;
    height: 443px;
    background-color: white;
    margin-left: 2.5%;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 2.5%;
    
}

.produto-selected:hover {
    box-shadow: 0px 10px 13px -7px #000000;

}

.display-top {
    display: flex;

}

.discount-amount {
    background-color: orange;
    color: white;
    width: 22%;
    height: 43px;
    text-align: center;
    padding-top: 8px;
    font-size: 14px;
    border-radius: 5px;
    margin-left: 7px;
    margin-top: 7px;

}

.qnt-produto-span {
    font-weight: bold;
    
}

.qnt-produto {
    background-color: white;
    color: orange;
    width: 22%;
    height: 43px;
    text-align: center;
    font-size: 10px;
    border-radius: 5px;
    margin-left: 3%;
    margin-top: 7px;
    border: solid;
    border-width: 1.8px;
    padding-top: 4px;
}

.ul-stars {
    display: flex;
    position: relative;
    left: 7%;
    top: 9px;
    width: 52px;

}

.imagens-promo {
    width: 57.5%;
    position: relative;
    left: 21%;
    top: 22px;

}

.condições-produto{
    position: relative;
    top: 40px;
    padding: 0 13px;

}

.descrição-do-produto {
    font-size: 14px;
    font-weight: bold;
    
}

.price-strike {
    font-size: 12px;
    margin: 10px 0px;
    opacity: 55%;

}

.price-discount {
    color: orange;
    font-size: 25px;
    font-weight: bold;

}

.condição-pix {
    padding-top: 5px;
    font-size: 12px;
    opacity: 60%;

}

.comprar-h {
    display: auto;
    position: relative;
    top: 74px;
    border-radius: 5px;
    height: 39px;

}

.produto-selected:hover .comprar-h {
    display: auto;
    position: relative;
    background-color: orange;
    top: 74px;
    border-radius: 5px;
    height: 39px;
    cursor: pointer;

}

.comprar-ul {
    display: flex;
    flex-direction: row-reverse;
    color: white;
    position: relative;
    right: 40px;

}

.text-comprar {
    padding-left: 3px;
    padding-right: 10px;
    padding-top: 10px;
    
}

.text-link {
    color: orange;
    font-size: 22px;
    font-weight: bold;
    position: relative;
    left: 69%;
    top: 5%;
    text-decoration: none;

}

.text-link:hover {
    text-decoration: underline;

}

.text-promo {
    padding: 20px 0;
}

.banner-app {
    width: 100%;

}

.banner-cartao {
    position: relative;
    top: 60px;
    width: 100%;
   
}

.second-container {
    background-color: whitesmoke;
    
}

.container-produtos {
    height: auto;
    padding-top: 70px;
    display: flex;
    margin-left: 3.2%;

}

.display-produtos {
    background-color: white;
    width: 250px;
    height: 220px;
    margin-left: 2.5%;
    padding-right: 14px;
    border-radius: 5px;
    border: none;
    border-width: 2px;
    border-color: #0f446e;
    cursor: pointer;

}

.display-produtos:hover {
    box-shadow: 0px 2px 21px -7px #000000;

}

.hiper-link-produtos {
    margin-left: 23px;
    margin-right: 7px;
}

.product-list {
    text-align: center;
    
}

.poduct-list-li {
    padding: 16px;
    color: #0f446e;
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    
}

.display-produtos-img {
    width: 60%;
    
}

.display-produtos-img2 {
    width: 74%; 
    margin-top: 3px;
    margin-left: 16px;

}

.display-produtos-img3 {
    width: 84%;
    margin-top: 10px;
    margin-left: 15px;

}

.text-procurados {
    margin-top: 55px;
    background-color: rgb(53, 52, 52);
    color: white;
    padding: 20px;
    padding-left: 55px;
    font-size: 22px;
    text-transform: uppercase;


}

.most-wanted {
    margin-top: 38px;

}

.text-link2 {
    color: orange;
    font-size: 22px;
    font-weight: bold;
    position: relative;
    left: 86%;
    top: 2%;
    text-decoration: none;

}

.text-link2:hover {
    text-decoration: underline;

}

/* FOOTER */

footer {
    font-family: 'Cabin', sans-serif;
    background-color: rgb(10, 81, 173);
    height: 460px;
    

}

.form-of-payment {
    text-align: center;
    color: white;
    padding-top: 60px;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Cabin', sans-serif;
}

.formas-de-pagamento-ul {
    display: flex;
    padding-top: 40px;
    position: relative;
    left: 39.5%;
    width: 400px;
    border-bottom: solid;
    border-width: 2px;
    border-color: white;
    bottom: 20px;
    
}

.forma-de-pagamento-li {
    margin-left: 50px;
    position: relative;
    right: 16%;
    
    
    
}

.forma-de-pagamento-visa {
    padding-left: 40px;
    width: 35px;
    height: 26px;

}

.news-letters {
    color: white;
    font-family: 'Cabin', sans-serif;
    position: relative;
    left: 11%;
    top: 42px;
    font-size: 20px;
    width: 350px;
    text-align: center;
    line-height: 1.5rem;
    
}


.form-news {
    margin-left: 31%;
}

.input-news {
    width: 300px;
    height: 34px;
    margin-left: 40px;
    border-radius: 10px;
    padding-left: 10px;
    border: none;
    outline: 0;
}

.btn-form {
    background-color: orange;
    width: 150px;
    height: 40px;
    margin-left: 20px;
    border-radius: 10px;
    padding-left: 10px;
    border: none;
    outline: 0;
    color: white;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.btn-form:hover {
    box-shadow: 0px 2px 21px -7px #000000;

}

.btn-form:active {
    background-color: orangered;

}

.menu-footer {
    display: flex;
    position: relative;
    left: 26.5%;
    bottom: 50px;
    width: 600px;
    
}

.text-menu-footer2 {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
    text-align: center;
    font-family: 'Cabin', sans-serif;
    color: white;
    position: relative;
    left: 65%;
    top: 60px;
    
}

.media-social-ul {
    display: flex;
    margin-top: 30px;
    position: relative;
    left: 38.5%;
    top: 70px;
    
}

.media-li {
    border: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 90%;
    width: 40px;
    text-align: center;
    padding-top: 6px;
    margin-right: 10px;
    margin-top: 20px;
    background-color: white;

}

.media-li:hover {
    box-shadow: 0px 2px 21px -1px #000000;
    
}

.copyright {
    color: white;
    font-size: 18px;
    position: relative;
    left: 37.5%;
    top: 40px;
    width: 280px;
    font-family: 'Cabin', sans-serif;

}
/* CHANGES IN BOOTSTRAP*/

.navbar-nav {
    margin-left: 20%;
    font-size: 20px;
    color: white;
}

.nav-item2 {
    min-width: 152px;
    margin-left: 3.5%;
}

a:hover{
    color: orange;
}


/* MOBILE VERSION*/

@media screen and (max-width: 576px){
 

   
    /* HEADER */
    .first-content {
        height: 300px;
        max-height: none;
        
    }
    
    .logo-mz {
       
        left: 114px;
        width: 170%;
        top: auto;
        bottom: 100px;
        
    }
    
    .container-buscador {
        width: 40%;
        margin: 0%;
        position: relative;
        right: 1.2%;
        
    }
    .buscador {
        width: auto;
        
    }

    .icone-buscador {
        width: 23%;
        left: 168px;
        bottom: 40px;
        top: auto;

    }

    .Login {
        left: auto;
        top: 60px;
        right: 24%;
        font-size: 20px;
    }

    .banner-login {
        width: 25px;
        height: 25px;
        top: 24px;
        right: 40%;
    }

    .mydropdown {
    left: auto;
    right: 21%;
    bottom: 8px;
    }

    .Car-Content {
        position: relative;
        right: 70%;
        top: 35px;
    }

    .banner-carrinho {
        width: 24px;
        left: 30%;
    }

    .body-text2 {
        color: white;
        font-size: 20px;
        position: relative;
        left: 60%;
        bottom: 50px;
        padding: 0;
    }
    
    .main-banner {
        width: 100%;
        margin: 0;
        height: 110px;
    }

    /*MAIN */
    main {
        margin: 0;
        max-width: none;
        margin-top: -3px;

    }

    .tech-promoção {
        padding: 20px 0;
        text-align: center;
        
    }

    .tech-produtos {
        padding: 20px 0;
        text-align: center;
        margin-bottom: 50px;
    }

    .first-container {
        background-color: whitesmoke;
        padding-top: 35px;
        height: auto;
    }
    .container-promoção-produtos {
        flex-wrap: wrap;
        justify-content: center;
        
    }
    .produto-selected {
        width: 170px;
        margin: 0 1% 20px 1%;
        
        height: 440px;
        
    }   

    .text-link {
        left: 7%;
        top: 0%;
        bottom: 10px;

    }

    .second-container {
        margin-bottom: -4px;
    }

    .hiper-link-produtos {
        margin: 10px 12.5%;
    }
    .container-produtos {
        margin-left: 0%;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .price-discount {
        font-size: 22px;
    }

    .text-link {
        font-size: 19px;
    }
    
    .text-link2 {
        left: 38%;;
        bottom: 10px;
        
    }

    .text-procurados {
        padding-left: 0%;
        padding: 20px 0;
        text-align: center;
    }

    .discount-amount {
        height: 39px;
    }
    
    .qnt-produto {
        width: 24%;
        height: 39px;
        font-size: 9.5px;
    }

    .ul-stars {
        left: 2%;
        top: 9px;
        width: auto;
    }

    /* FOOTER */

    footer {
        height: 650px;
        overflow: hidden;
    }

    .form-news {
        margin-left: 2%;
        margin-top: 22%;
    }


    .news-letters {
        width: auto;
        left: 0;
    }

    .form-news {
        text-align: center;
    }

    .input-news {
        margin-bottom: 20px;
        margin-left: 0px;
    }

    .btn-form {
        margin-left: 0%;
    }

    .formas-de-pagamento-ul {
        width: auto;
        left: 0%;
    }

    .menu-footer {
        width: auto;
        left: 0;
        right: 300px;
    }

    .text-menu-footer2 {
        left: 38%;
    }

    .media-social-ul {
        left: 0%;
        right: 0%;
        width: 100%;
        
    }

    .copyright {
        width: auto;
        left: 8.5%;
    }
        
}

@media screen and (max-width: 330px) {
    
    .logo-mz {
        left: 90px;
    }
    .container-buscador {
        right: 10%;
    }
    .Login {
        font-size: 17px;
        right: 28%;
    }
    .body-text2{
        font-size: 17px;
        left: 66%;
    }

    .icone-buscador {
        width: 27%;
        bottom: 39px
    }
    .text-link {
        font-size: 16px;
    }
    .text-link2{
        left: 33%;

    }
    
    .news-letters {
        font-size: 14px;
        
    }

    .form-news {
        text-align: initial;
    }
    

    .input-news {
        width: 220px;
        margin-left: 45px;
    }

    .btn-form {
        margin-left: 25%;
    }

    .form-of-payment {
        font-size: 15px;
    }

    .forma-de-pagamento-li {
        margin-left: 28px;
        right: 7%;
    }

    .media-social-ul {
        right: 8%;
        left: auto;
    }
   
    .copyright {
        font-size: 13px;
        left: 8.5%;
    }
    
}

@media screen and (max-width: 280px) {
   
    .logo-mz {
        left: 80px;
   
    }

    .icone-buscador {
        width: 30%;
        bottom: 39px;
    }

    .text-link {
        left: 3%;
        font-size: 17px;
    }

    .text-link2{
        left:35.3%;
        font-size: 17px;
    }

    .news-letters {
        font-size: 14px;
        
    }

    .input-news {
        width: 200px;
    }

    .media-social-ul {
        right: 14%;
    }
   
    .copyright {
        left: 7.5%;
    }
}